# Cashing2Fast FastAPI configuration example
SECRET_KEY=yoursecretkeyhere

# Database connections (Standard for your apps)
DB_CONNECTIONS__AUTH__HOST=localhost
DB_CONNECTIONS__AUTH__PORT=5432
DB_CONNECTIONS__AUTH__USERNAME=postgres
DB_CONNECTIONS__AUTH__PASSWORD=postgres
DB_CONNECTIONS__AUTH__DATABASE=postgres

# Billing Logic
CASHING_FREE_MINUTES=0
CASHING_REDIRECT_MINUTES=60
CASHING_MAX_REQUESTS=100

# Redis Connection
CASHING_REDIS__HOST=localhost
CASHING_REDIS__PORT=6379
